<nav class="navbar navbar-expand-lg navbar-light bg-light text-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RoomFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hotels
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if (hotels.length === 0) { %>
              <li><span class="dropdown-item">No hotels available</span></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/hotels">All Hotels</a></li>
              <li><hr class="dropdown-divider"></li>
              <% hotels.forEach(function(hotel) { %>
                <li>
                  <a class="dropdown-item" href="/hotels/<%= hotel.id %>">
                    <%= hotel.Name %>
                  </a>
                </li>
              <% }) %>
            <% } %>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/rooms/" class="nav-link"> Rent a room</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>